* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.logo {
  width: 100px;
  margin: 20px auto;
  display: block;
  margin-top: 1%;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
  padding: 20px;
  margin-top: -4%;
}

.login-container {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group.forgot {
  text-align: right;
  font-size: 14px;
}


  .voltar {
  background-color: #6c757d; 
  width: 100%;
  border: none;
  padding: 15px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;
  transition: background 0.3s ease;
  font-weight: bold;
}

.voltar:hover {
   opacity: 0.8;
}


.iniciar {
  background-color:#2563eb;
  width: 100%;
  border: none;
  padding: 15px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;
  transition: background 0.3s ease;
  font-weight: bold;
}

.iniciar:hover {
  background-image: linear-gradient(to right, rgb(0, 80, 172), rgb(80, 19, 195));
}


.register-link {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
  .logo {
    width: 100px;
    margin: 20px auto;
  }

  .login-container {
    padding: 30px 20px;
  }

  .social-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .social-buttons button {
    width: 100%;
  }
}
